{% extends 'layout/layout.html.twig' %}

{% block title -%}List articles{% endblock %}
{% block bodyclass %}homepage{% endblock %}

{% block body -%}

{% include 'share/nav.html.twig' %}

<div class='container'>
    {% include 'share/flash.html.twig' %}

    <div class="page-header">
        <p id="page-title">Articles</p>
        <a class="btn btn-success create-article" href="{{ path('article_new') }}">New Article</a>
    </div>

    <div class="list-articles">
        {% for article in article_full %}
            <article>
                <div class="article-title">
                    <a href="{{ path("article_show", {'id': article['id']}) }}">{{ article.title }}</a>
                </div>
                <div class="article-content">
                    <p>{{ article.description }}</p>
                </div>
            </article>
        {% endfor %}
    </div>


    <nav>
      <ul class="pagination" id="main-pagination">
        {% for page in range(1, page_total) %}

            {% if current_page == page %}
                <li class="active"><a href="{{ path('articles', { 'page': page }) }}">{{ page }}</a></li>
            {% else %}
                {% if page == 1 %}
                    <li><a href="{{ path('articles') }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ path('articles', { 'page': page}) }}">{{ page }}</a></li>
                {% endif %}
            {% endif %}

        {% endfor %}
      </ul>
    </nav>



</div>

{% endblock %}
